DEFAULT_SIMBRIEF_USERID=191746
DEFAULT_HOPPIE_FROM=DANOPS
HOPPIE_LOGON=cole_seu_hoppie_logon_aqui
SITE_USER=admin
SITE_PASSWORD=troque_por_uma_senha_forte
HOPPIE_ENDPOINT=http://www.hoppie.nl/acars/system/connect.html
